@media screen and (max-width: 1169px){
    .logo_box .logotype{
        margin: 0;
        padding: 0 8%;
    }
}
@media screen and (max-width: 550px){
    .client{
        width: 100%;
        padding: 0 10%;
    }
}